.button-wrapper {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #434040;
    color: rgb(243, 238, 238);
    flex: 1;
    cursor: pointer;
    margin: 4px;
    border-radius: 10px;


    /* background-color: #381818;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 45px;
    
    transition: background-color ; */
  }