body {
  background-color: rgb(21, 20, 20);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: #c6c2c2 ;
  width: 400px;
  border-radius: 16px;
}

.row {
  display: flex;
  
}
.container {
  padding: 10px;
  background-color: rgb(87, 90, 102);
}






